In [24]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from mpl_toolkits.mplot3d import Axes3D

In [25]:
card_df = pd.read_csv('creditcard.csv')

In [26]:
card_df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [27]:
card_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [28]:
card_df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [29]:
card_df['Class'].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

In [30]:
legit = card_df[card_df.Class == 0]
fraud = card_df[card_df.Class == 1]

In [31]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [32]:
legit.Amount.describe()
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [33]:
card_df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [ ]:
legit_sample = legit.sample(n=492)

In [ ]:
new_data = pd.concat([legit_sample, fraud], axis=0)
new_data.head()
new_data.tail()
new_data['Class'].value_counts()
new_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,93736.459350,-0.099472,-0.061811,0.142999,0.048162,0.107208,-0.065731,-0.019262,0.020172,0.057176,...,-0.045454,0.022267,-0.015204,0.027836,0.008147,-0.004960,0.009697,0.033394,-0.001288,77.805305
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [ ]:
X = new_data.drop(columns='Class', axis=1)
Y = new_data['Class']
print(X)
print(Y)

            Time         V1         V2        V3        V4         V5  \
113868   73239.0   0.951379  -0.382261  1.111905  0.656837  -0.226714
265657  161985.0 -24.717179 -29.700604 -2.017586  7.015138  15.700555
39174    39724.0  -0.534986  -0.054641  0.880573 -2.340902  -1.281798
56163    47294.0   1.553122  -1.245563 -1.164236 -2.492113   0.969978
8469     11349.0  -0.471906   0.411932  1.951918  1.482344   0.610217
...          ...        ...        ...       ...       ...        ...
279863  169142.0  -1.927883   1.125653 -4.518331  1.749293  -1.566487
280143  169347.0   1.378559   1.289381 -5.004247  1.411850   0.442581
280149  169351.0  -0.676143   1.126366 -2.213700  0.468308  -1.120541
281144  169966.0  -3.113832   0.585864 -5.399730  1.817092  -0.840618
281674  170348.0   1.991976   0.158476 -2.583441  0.408670   1.151147

               V6        V7        V8        V9  ...        V20       V21  \
113868   1.764390 -0.874587  0.620271  0.785698  ...  -0.137328  0.050908
265657 -10.819584 -3.586669 -1.336900  3.279434  ... -11.753658 -4.410023
39174   -1.184510 -0.618243  0.297546 -2.224616  ...  -0.361623  0.128070
56163    3.239433 -1.472291  0.743799 -1.986254  ...  -0.178323 -0.260232
8469     0.021270  0.261656 -0.113203  1.408417  ...   0.045719 -0.078171
...           ...       ...       ...       ...  ...        ...       ...
279863  -2.010494 -0.882850  0.697211 -2.064945  ...   1.252967  0.778584
280143  -1.326536 -1.413170  0.248525 -1.127396  ...   0.226138  0.370612
280149  -0.003346 -2.234739  1.210158 -0.652250  ...   0.247968  0.751826
281144  -2.943548 -2.208002  1.058733 -1.632333  ...   0.306271  0.583276
281674  -0.096695  0.223050 -0.068384  0.577829  ...  -0.017652 -0.164350

             V22        V23       V24       V25       V26       V27       V28  \
113868  0.480117   0.128312 -0.895557 -0.040016  0.440102  0.089357  0.018300
265657  3.820005  22.083545 -0.098109  6.070850  1.461475  6.578849 -4.398798
39174   0.720524  -0.057565  0.369295 -0.389945 -0.246225  0.306269  0.159777
56163  -0.530527  -0.011291  0.982356  0.544372 -0.192492  0.030443  0.016315
8469    0.355041  -0.097925  0.036685 -0.326912 -0.313997  0.006723 -0.060625
...          ...        ...       ...       ...       ...       ...       ...
279863 -0.319189   0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968
280143  0.028234  -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637
280149  0.834108   0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361
281144 -0.269209  -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700
281674 -0.295135  -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309

        Amount
113868   31.90
265657   35.95
39174     6.00
56163    25.00
8469      9.99
...        ...
279863  390.00
280143    0.76
280149   77.89
281144  245.00
281674   42.53

[984 rows x 30 columns]
113868    0
265657    0
39174     0
56163     0
8469      0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)
print(X.shape, X_train.shape, X_test.shape)

(984, 30) (787, 30) (197, 30)

In [ ]:
Lr = LogisticRegression()

In [ ]:
Lr.fit(X_train, Y_train)

LogisticRegression()

In [ ]:
X_train_prediction = Lr.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [35]:
print('Accuracy on Training data : ', training_data_accuracy*100)

Accuracy on Training data :  94.28208386277002

In [ ]:
X_test_prediction = Lr.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [ ]:
print('Accuracy score on Test Data : ', test_data_accuracy*100)

Accuracy score on Test Data :  89.84771573604061